<div id="search-bar">
    <button (click)="createProduct()">Create new product</button>
    <select [formControl]="catID" name="" id="" (change)="onSearch()">
        <option [ngValue]=null>--choose category--</option>
        <option *ngFor="let category of categories" [ngValue]="category.catId">{{category.category1}}</option>
    </select>
    <input class="input-number" type="number"  [formControl]="minPrice" name="" id="" placeholder="min price" min="0" >
    <input class="input-number" type="number" [formControl]="maxPrice" placeholder="max Price" min="0" >
    <input class="search" type="text" [formControl]="search"> 
    <button (click)="onSearch()">search</button>
</div>
<div id="list-products">
    <li *ngFor="let product of products">
        <div class="img">
            <img src="{{product.imgURL}}" alt="">
        </div>
        <p>{{product.name}} - {{product.price}}$</p>
        <button (click)="getDetail(product)">Detail</button>   
    </li>
</div>
