:host{
    display: block;
    width: 100%;
    /* background-color: hotpink; */
}

#search-bar{
    width: 100%; 
}

input, select, button{
    margin-bottom: 10px;
}

.search{
    max-width: 150px;
}

.input-number{
    max-width: 90px;
}

#list-products{
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: initial;
}

li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 550px;
    margin-top: 2px;
    padding: 0;
    /* background-color: indigo; */
}

li> .img{
flex: 4; 
}
li>p{
    flex:4
}
li>button{
    flex:1
}

img{
   width: 150px;
   height: 100px;
   object-fit: cover; 
   border:1px solid black;
   border-radius: 2px;
}

@media only screen and (max-width: 750px)  {
    #search-bar{
        max-width: 80%;
        display: flex;
        flex-direction: column;

    }

    .search{
        max-width: 100%;
    }

    .input-number{
        max-width: 100%;
    }
    
}