:host{
    display: block;
    width: 100%;
    /* background-color: hotpink; */
}

#search-bar{
    width: 100%; 
}

input{
    margin-bottom: 10px;
}

#list-products{
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: initial;
    /* background-color: indianred; */
}

li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 550px;
    margin-top: 2px;
    padding: 0 10px;
    /* background-color: indigo; */
}

li> .img{
flex: 4; 
}
li>p{
    flex:4
}
li>button{
    flex:1
}

img{
   width: 150px;
   height: 100px;
   object-fit: cover; 
   border:1px solid black;
   border-radius: 2px;
}