
<div class="container">
    <div id="small-header">
        <h3>{{title}}</h3>
        

    </div>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <p>{{productForm.value | json}}</p>
        <div class="field">
            <label for="name">Name: </label>
            <div class="small-container">

                <input id="name" type="text" formControlName="name">
                <small *ngIf="productForm.get('firstName')?.hasError('required')">
                    This field is required.
                </small>
                <small *ngIf="productForm.get('name')?.hasError('minlength')">
                    The minimum length for this field is {{productForm.get('name')?.errors?.minlength.requiredLength}}
                    characters.
                </small>
            </div>
        </div>

        <div class="field">
            <label for="code">Code: </label>
            <div class="small-container">
                <input id="code" type="text" formControlName="code">
                <small *ngIf="productForm.get('code')?.hasError('required')">
                    This field is required.
                </small>
                <small
                    *ngIf="productForm.get('code')?.hasError('minlength') || productForm.get('code')?.hasError('maxlength')">
                    The field must be of {{codeLenght}} characters.
                </small>

            </div>
        </div>

        <div class="field">
            <label for="price">Price: </label>
            <div class="small-container">

                <input id="price" type="number" step="0.05" formControlName="price">
                <small *ngIf="productForm.get('price')?.hasError('required')">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="field">
            <label for="expiration">Exp Date: </label>
            <div class="small-container">

                <input id="expiration" type="date" formControlName="expiration">
            </div>
        </div>
        <div class="field">
            <label for="category">Category: </label>
            <div class="small-container">

                <select name="category" id="category" formControlName="catId">
                    <option value="" [defaultSelected]></option>
                    <option *ngFor="let category of categories" [ngValue]="category.catId">{{category.category1}}
                    </option>
                </select>
                <!-- <input id="category" type="text" formControlName="category"> -->
                <small *ngIf="productForm.get('category')?.hasError('required')">
                    This field is required.
                </small>
            </div>
        </div>
        <button id="submit" type="submit" [disabled]="!productForm.valid">{{btnSubmit}}</button>
    </form>
    <button id="delete" type="text" *ngIf="!isNew" (click)="onDelete()">Delete</button>
    <button id="back" (click)="goToProductPage()">back</button>
</div>