<div>
    <a (click)="goToProductPage()">back</a>
    <h3>{{title}}</h3>
    <div class="container">
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <p>{{productForm.value | json}}</p>
            <div class="field">
                <label for="name">Name: </label>
                <input id="name" type="text" formControlName="name">
                <small *ngIf="productForm.get('firstName')?.hasError('required')">
                    This field is required.
                </small>
                <small *ngIf="productForm.get('name')?.hasError('minlength')">
                    The minimum length for this field is {{productForm.get('name')?.errors?.minlength.requiredLength}}
                    characters.
                </small>
            </div>

            <div class="field">
                <label for="code">Code: </label>
                <input id="code" type="text" formControlName="code">
                <small *ngIf="productForm.get('code')?.hasError('required')">
                    This field is required.
                </small>
                <small *ngIf="productForm.get('code')?.hasError('minlength') || productForm.get('code')?.hasError('maxlength')">
                    The field must be of {{codeLenght}} characters.
                </small>
            </div>

            <div class="field">
                <label for="price">Price: </label>
                <input id="price" type="number" step="0.05" formControlName="price">
                <small *ngIf="productForm.get('price')?.hasError('required')">
                    This field is required.
                </small>
            </div>
            <div class="field">
                <label for="exp_date">Exp Date: </label>
                <input id="exp_date" type="text" formControlName="exp_date">
            </div>
            <div class="field">
                <label for="category">Category: </label>
                <select name="category" id="category"  formControlName="category">
                    <option value="" [defaultSelected]></option>
                    <option *ngFor="let category of categories" [value]="category.category1">{{category.category1}}</option>
                </select>
                <!-- <input id="category" type="text" formControlName="category"> -->
                <small *ngIf="productForm.get('category')?.hasError('required')">
                    This field is required.
                </small>
            </div>
            <button type="submit" [disabled]="!productForm.valid">{{btnSubmit}}</button>
        </form>
        <button type="text"  *ngIf="!isNew" (click)="onDelete()" >Delete</button>           
    </div>
</div>