:host{
    width: 100%;
}

.container{
    width: 500px;
}

#small-header{
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#small-header > h3{
    flex: 2;
}

#small-header > button{
    width: 40px;
    flex: 3;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 5px; */
}

.field{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    
}

.field > label{
    flex: 1;
}

.small-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex:4;
    margin-bottom: 5px;
}

.delete, .submit, .back{
    margin: 1px 4px;
    width: 55%;
}

#imgURL{
    padding-right: 35px;
    height: 26px;
    width: 183px;

}

.search {
    width:35px;
    margin:0 0 0 -35px;
}

#search-image-windows{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 0.5px solid black;
    border-radius: 3px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 1);
    min-width: 400px;
    min-height: 290px;
    width: 50%;
    height: 70%;
    padding: 25px;
    box-shadow: 2px 4px rgba(0, 0,0, 0.2);
}

#search-image-windows .close{
    position: absolute;
    top: 0;
    right: 0;
}

#search-image-windows #photo-container{
    height: 90%;
    overflow-y: scroll;
    margin-top: 5px;
}

#search-image-windows img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: 4px 0;
    border: 1px solid grey;
    cursor: pointer;
}



