:host{
    width: 100%;
}
.wrapper{
    height: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: greenyellow; */
}

#category-list{
    
    margin-right: 15px;
    padding-right: 15px;
    flex: 3;
    border-right: 2px solid slategrey ;
}


.category-button{
    background-color: white;
    border: 0.5px solid white;
    width:100%;
    border-radius: 3px;
    text-align: start;
}

.category-button:hover{
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.01);
}

#category-list li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#category-detail{
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#category-detail > #title{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    margin-bottom: 15px;
}

#title > h3{
    margin-right: 30px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container{
    padding: 10px;
}

.field{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.field > label{
    flex: 1;
}

.field > .small-field{
    flex: 3;
}

.small-field{
    display: flex;
    flex-direction: column;
}

#clear-form, #submit-cat{
    display: block;
    margin: 1px 4px;
    width: 55%;
    left: 50%;
}