:host{
    display: block;
    min-height: 100vh;
    --custom-navheight:65px;
    --custom-footerheight:40px;
}

nav, footer{
    background-color: rgba(85, 181, 177, 0.8);
}

nav{
    height: VAR(--custom-navheight);
    margin-bottom: -65px;
    padding: 20px;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    scroll-behavior: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 2;
}
nav h1{
    margin-bottom: 0;
}
#main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding: 100px 35px 75px;
}
footer{
    height: var(--custom-footerheight);
    margin-top: -40px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}