*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    min-height: 100vh;
}

/* style generici per tutti i piccoli item per uniformare comportamento */
a{
    text-decoration: none;
    color: black;
    padding: 4px 6px;
    margin: 3px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
}

.active{
    background-color: rgba(0, 0, 0, 0.1);
}


button, input, select{
    padding:3px 5px;
}

button:hover{
    cursor: pointer;
}

h1{
    margin-bottom: 15px;
}

h3{
    margin-bottom: 8px;
}

small{
    color: tomato;
}

textarea{
    padding: 5px;
}

/* classi aggiunte dinamicamente */

.blur{
    backdrop-filter: blur(6px);
}